
<div class='page-header'>
  <h1>Movies</h1>
</div>

<a href='/movies/new_form' class='btn'>Add a new movie</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.duration %></td>
        <td><%= truncate(movie.description, length: 50) %></td>
        <td><%= movie.image_url %></td>
        <td>
          <a href="/movies/<%= movie.id %>" class='btn'>Show details</a>
          <a href="/movies/<%= movie.id %>/edit" class='btn'>Edit movie</a>
          <a href="/movies/delete_movie/<%= movie.id%>" class='btn'>Delete movie</a>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>

