<div class='page-header'>
  <h1>Edit Director</h1>
</div>

<form action="/directors/<%= @director.id %>/update">
    <div class='form-group'>
    <label for="name" class="col-sm-2 control-label">Director Name</label>
    <div class="col-sm-10">
      <input type='text' id='name' name='name' class='form-control' value='<%= @director.name %>'>
    </div>
  </div>
    
  <div class='form-group'>
    <label for='Dob' class="col-sm-2 control-label">Dob</label>
    <div class='col-sm-10'>
      <input type='text' id='Dob' name='Dob' class='form-control'  value='<%= @director.dob %>'>
    </div>
    
    <label for='image_url' class="col-sm-2 control-label">Image url</label>
    <div class="col-sm-10">
      <input type='text' id='image_url' name='image_url'  value='<%= @director.image_url %>'>
    </div>
    
    <label for='Bio' class="col-sm-2 control-label">Director biography</label>
    <div class="col-sm-10">
      <textarea id='Bio' name='Bio' placeholder="Biography" rows="5"><%= @director.bio %></textarea>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update director" class="btn btn-primary">
    </div>
  
  </div>
  
</form>